/* =========================== GLOBAL =========================== */
body {
    margin: 0 0 0 0;
    overflow: hidden;
}

.column {
    float: left;
    height: 100%;
}

.row {
    height: 100vh;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  height: 100%;
}

/* =========================== MENUBAR =========================== */
.tabs {

}

/* =========================== EDITOR =========================== */
.editor {
    width: 100%;
    background-color: aqua;
}

textarea {
    margin: 0 0 0 0;
    border: none;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    font-size: 20px;
    resize: none;
    white-space: nowrap;
}

textarea:focus {
    outline: none;
    border: none;
}

textarea:active {
    outline: none;
    border: none;
}

/* =========================== EXPLORER =========================== */
.explorer {
    width: 200px;
    background-color: blueviolet;
    position: absolute;
    right: 50px;
    overflow-x: hidden;

    touch-action: none; /* STOPS BROWSER FROM PANNING WHEN DRAGING ON TOUCHSCREEN DEVICES */
    box-sizing: border-box; /* THIS IS ESSENTIAL FOR DRAG/RESIZE FUNCTIONALITY */
}

.explorer-file-tree {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    margin: 0 0 0 0;
    padding: 16px 0 0 16px;
    overflow-x: hidden;
    white-space: nowrap;
    scroll-behavior: auto;
    scrollbar-color: pink;
}

.explorer-file-tree-element {
    width: 100%;
}

/* =========================== TOOLBAR =========================== */
.toolbar {
    width: 50px;
    display: flex;
    flex-direction: column;
    background-color: brown;
    position: absolute;
    right: 0;
}

.toolbar button {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}